# Dependencies
node_modules/

# Next.js
.next/
out/

# Environment variables
.env
.env.local
.env.production.local

# Sensitive files
service-account-key.json
*.pem

# Debug
npm-debug.log*

# Vercel
.vercel

# IDE
.idea/
.vscode/